<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="ex,e,exw,exu"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.eutools.eueditor.editors.EUEditor"
            id="com.eutools.eueditor.editors.EUEditor">
      </editor>
   </extension>
   <extension
         id="euphoriaBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.eutools.eueditor.builder.EUBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="euphoriaNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.eutools.eueditor.builder.EuphoriaNature">
         </run>
      </runtime>
      <builder
            id="EUEditor.euphoriaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="EUEditor.addRemoveNature"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.eutools.eueditor.builder.ToggleNatureAction"
               enablesFor="+"
               id="EUEditor.addRemoveNatureAction"
               label="%action.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="EUEditor.popup.AddEuProject"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="EUEditor.menu1"
               label="%menu.label"
               path="new.ext">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.eutools.eueditor.popup.actions.EuNewProjectPopup"
               enablesFor="1"
               id="EUEditor.newAction"
               label="%action.label.0"
               menubarPath="file/new.ext">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            id="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            name="%page.name">
      </page>
      <page
            category="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            class="com.eutools.eueditor.preferences.RuntimeInstallationPerferencePage"
            id="com.eutools.preferences.RuntimeinstallationPreferences"
            name="%page.name.0">
      </page>
      <page
            category="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            class="com.eutools.eueditor.preferences.EditorCategory"
            id="com.eutools.eueditor.preferences.EditorCategory"
            name="Editor">
      </page>
      <page
            category="com.eutools.eueditor.preferences.EditorCategory"
            class="com.eutools.eueditor.preferences.syntax.coloring.SyntaxColoring"
            id="com.eutools.eueditor.preferences.SyntaxColoring"
            name="Syntax Coloring">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.eutools.eueditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
  
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.eutools.eueditor.perspective.EuphoriaPerspectiveFactory"
            icon="icons/euphoria.ico"
            id="com.eutools.eueditor.EuphoriaPerspective"
            name="Euphoria">
      </perspective>
   </extension> <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="EUEditor"
            name="%category.name">
      </category>
      <wizard
            category="EUEditor"
            class="com.eutools.eueditor.project.EuProject"
            icon="icons/sample.gif"
            id="com.eutools.eueditor.project.EuProject"
            name="%wizard.name"
            project="true">
      </wizard>
      <wizard
            category="EUEditor"
            class="com.eutools.eueditor.wizards.EuLibraryFileWizard"
            icon="icons/sample.gif"
            id="com.eutools.eueditor.wizards.EuLibraryFileWizard"
            name="%wizard.name.0">
      </wizard>
   </extension>
                <extension
                      point="org.eclipse.debug.core.launchModes">
                   <launchMode
                         label="bind"
                         launchAsLabel="Bind"
                         mode="com.eutools.eueditor.launchmodes.Bind">
                   </launchMode>
                </extension>
                <extension
                      point="org.eclipse.debug.core.launchConfigurationTypes">
                   <launchConfigurationType
                         delegate="com.eutools.eueditor.launch.EuBindLaunchConfigurationDelegate"
                         delegateDescription="Launches a Euphoria application"
                         delegateName="Euphoria Application"
                         id="com.eutools.eueditor.launch.BindLaunchConfigurationType"
                         modes="run"
                         name="Euphoria Application"
                         public="true">
                   </launchConfigurationType>
                </extension>
                <extension
                      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
                   <launchConfigurationTypeImage
                         configTypeID="com.eutools.eueditor.launch.BindLaunchConfigurationType"
                         icon="icons/euphoria.ico"
                         id="com.eutools.eueditor.EuIcon">
                   </launchConfigurationTypeImage>
                </extension>
                <extension
                      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
                   <launchConfigurationTabGroup
                         class="com.eutools.eueditor.launch.EuBindLaunchConfigurationTabGroup"
                         description="Common Config for Binding"
                         id="com.eutools.eueditor.launch.BindTabGroup"
                         type="com.eutools.eueditor.launch.BindLaunchConfigurationType">
                   </launchConfigurationTabGroup>
                </extension>
                <extension
                      point="org.eclipse.debug.ui.launchShortcuts">
                   <shortcut
                         category="org.eclipse.ui.externaltools"
                         class="com.eutools.eueditor.launch.EuLaunchShortcut"
                         description="Euphoria Binder"
                         icon="icons/euphoria.ico"
                         id="com.eutools.eueditor.launchShortcut"
                         label="bind"
                         modes="run">
                      <configurationType
                            id="com.eutools.eueditor.launch.BindLaunchConfigurationType">
                      </configurationType>
                      <contextualLaunch>
                         <contextLabel
                               label="Euphoria Application"
                               mode="run">
                         </contextLabel>
                         <enablement>
                            <with
                                  variable="selection">
                               <count
                                     value="1">
                               </count>
                               <iterate
                                     operator="and">
                                  <test
                                        property="org.eclipse.jdt.launching.isContainer">
                                  </test>
                                  <test
                                        args="euphoriaNature"
                                        property="org.eclipse.jdt.launching.hasProjectNature">
                                  </test>
                               </iterate>
                            </with>
                         </enablement>
                      </contextualLaunch>
                   </shortcut>
                </extension>
                <extension
                      point="org.eclipse.core.runtime.adapters">
                   <factory
                         adaptableType="com.eutools.eueditor.editors.EUEditor"
                         class="org.eclipse.core.runtime.IAdapterFactory">
                      <adapter
                            type="org.eclipse.debug.ui.actions.ILaunchable">
                      </adapter>
                   </factory>
                </extension>
                <extension
                      point="org.eclipse.ui.perspectiveExtensions">
                   <perspectiveExtension
                         targetID="com.eutools.eueditor.EuphoriaPerspective">
                      <actionSet
                            id="org.eclipse.debug.ui.launchActionSet">
                      </actionSet>
                   </perspectiveExtension>
                </extension>
                <extension
                      point="org.eclipse.ui.commands">
                   <category
                         id="EUEditor.commands.category"
                         name="Sample Category">
                   </category>
                   <command
                         categoryId="EUEditor.commands.category"
                         description="Bind a Euphoria program"
                         id="EUEditor.commands.bindCommand"
                         name="Bind">
                   </command>
                   <command
                         categoryId="EUEditor.commands.category"
                         description="Translate a Euphoria program to C"
                         id="EUEditor.commands.translateCommand"
                         name="Translate">
                   </command>
                   <command
                         categoryId="EUEditor.commands.category"
                         description="Shroud a Euphoria program"
                         id="EUEditor.commands.shroudCommand"
                         name="Shroud Configurations">
                   </command>
                   <command
                         description="Create a new Euphoria project"
                         id="EUEditor.commands.newProjectCommand"
                         name="New Project">
                   </command>
                </extension>
                <extension
                      point="org.eclipse.ui.handlers">
                   <handler
                         class="com.eutools.eueditor.handlers.BindHandler"
                         commandId="EUEditor.commands.bindCommand">
                   </handler>
                   <handler
                         class="com.eutools.eueditor.handlers.ShroudHandler"
                         commandId="EUEditor.commands.shroudCommand">
                   </handler>
                   <handler
                         class="com.eutools.eueditor.handlers.TranslateHandler"
                         commandId="EUEditor.commands.translateCommand">
                   </handler>
                   <handler
                         class="com.eutools.eueditor.handlers.NewProjectHandler"
                         commandId="EUEditor.commands.newProjectCommand">
                   </handler>
                </extension>
                <extension
                      point="org.eclipse.ui.bindings">
                   <key
                         commandId="EUEditor.commands.bindCommand"
                         contextId="org.eclipse.ui.contexts.window"
                         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
                         sequence="M1+6">
                   </key>
                </extension>
                <extension
                      point="org.eclipse.ui.menus">
                   <menuContribution
                         locationURI="menu:org.eclipse.ui.main.menu?after=additions">
                      <menu
                            id="EUEditor.menus.euphoriaMenu"
                            label="Euphoria"
                            mnemonic="E">
                         <menu
                               id="EUEditor.menus.bindMenu"
                               label="Bind">
                            <command
                                  commandId="EUEditor.commands.bindCommand"
                                  id="EUEditor.menus.bindCommand"
                                  label="Bind Configurations..."
                                  mnemonic="B">
                            </command>
                         </menu>
                         <menu
                               id="EUEditor.menus.shroudMenu"
                               label="Shroud">
                            <command
                                  commandId="EUEditor.commands.shroudCommand"
                                  id="EUEditor.menus.shroudCommand"
                                  label="Shroud Configurations..."
                                  mnemonic="S">
                            </command>
                         </menu>
                         <menu
                               id="EUEditor.menus.translateMenu"
                               label="Translate">
                            <command
                                  commandId="EUEditor.commands.translateCommand"
                                  id="EUEditor.menus.translateCommand"
                                  label="Translate Configurations..."
                                  mnemonic="T"
                                  style="push">
                            </command>
                         </menu>
                      </menu>
                   </menuContribution>
                   <menuContribution
                         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
                      <toolbar
                            id="EUEditor.toolbars.sampleToolbar">
                         <command
                               commandId="EUEditor.commands.bindCommand"
                               icon="icons/sample.gif"
                               id="EUEditor.toolbars.sampleCommand"
                               tooltip="Bind Euphoria Program">
                         </command>
                      </toolbar>
                   </menuContribution>
                   <menuContribution
                         locationURI="menu:new?after=additions">
                      <command
                            commandId="EUEditor.commands.newProjectCommand"
                            label="Euphoria Project"
                            style="push">
                      </command>
                   </menuContribution>
                   <menuContribution
                         locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu.new?before=additions">
                      <command
                            commandId="EUEditor.commands.newProjectCommand"
                            label="Euphoria Project"
                            style="push">
                      </command>
                   </menuContribution>
                </extension>
                <extension
                      point="org.eclipse.ui.views">
                   <view
                         allowMultiple="false"
                         class="org.eclipse.ui.navigator.CommonNavigator"
                         id="EUEditor.navigationView"
                         name="Euphoria Navigator"
                         restorable="true">
                   </view>
                </extension>
                <extension
                      point="org.eclipse.ui.navigator.viewer">
                   <viewerContentBinding
                         viewerId="EUEditor.navigationView">
                      <includes>
       	     				<contentExtension pattern="org.eclipse.ui.navigator.resourceContent" />		       	      
	     					<contentExtension pattern="org.eclipse.ui.navigator.resources.filters.*"/>
			          </includes>
                   </viewerContentBinding>
                </extension>

</plugin>
