<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="ex,e,exw,exu"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.eutools.eueditor.editors.EUEditor"
            id="com.eutools.eueditor.editors.EUEditor">
      </editor>
   </extension>
   <extension
         id="euphoriaBuilder"
         name="%extension.name"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.eutools.eueditor.builder.EUBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="euphoriaNature"
         name="%extension.name.0"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.eutools.eueditor.builder.EuphoriaNature">
         </run>
      </runtime>
      <builder
            id="EUEditor.euphoriaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="EUEditor.addRemoveNature"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.eutools.eueditor.builder.ToggleNatureAction"
               enablesFor="+"
               id="EUEditor.addRemoveNatureAction"
               label="%action.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            id="EUEditor.popup.AddEuProject"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="EUEditor.menu1"
               label="%menu.label"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="com.eutools.eueditor.popup.actions.EuNewProjectPopup"
               enablesFor="1"
               id="EUEditor.newAction"
               label="%action.label.0"
               menubarPath="EUEditor.menu1/group1">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="%extension.name.1"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            id="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            name="%page.name">
      </page>
      <page
            category="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            class="com.eutools.eueditor.preferences.RuntimeInstallationPerferencePage"
            id="com.eutools.preferences.RuntimeinstallationPreferences"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.eutools.eueditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.eutools.eueditor.preferences.EuEditorPreferencePage"
            id="EUEditor.page1"
            name="%page.name.1">
      </page>
   </extension>
  
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.eutools.eueditor.perspective.EuphoriaPerspectiveFactory"
            icon="icons/euphoria.ico"
            id="com.eutools.eueditor.EuphoriaPerspective"
            name="Euphoria">
      </perspective>
   </extension> <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="EUEditor"
            name="%category.name">
      </category>
      <wizard
            category="EUEditor"
            class="com.eutools.eueditor.project.EuProject"
            icon="icons/sample.gif"
            id="com.eutools.eueditor.project.EuProject"
            name="%wizard.name"
            project="true">
      </wizard>
      <wizard
            category="EUEditor"
            class="com.eutools.eueditor.wizards.EuLibraryFileWizard"
            icon="icons/sample.gif"
            id="com.eutools.eueditor.wizards.EuLibraryFileWizard"
            name="%wizard.name.0">
      </wizard>
   </extension>
                <extension
                      point="org.eclipse.debug.core.launchModes">
                   <launchMode
                         label="bind"
                         launchAsLabel="Bind"
                         mode="com.eutools.eueditor.launchmodes.Bind">
                   </launchMode>
                </extension>
                <extension
                      point="org.eclipse.debug.core.launchConfigurationTypes">
                   <launchConfigurationType
                         delegate="com.eutools.eueditor.launch.EuBindLaunchConfigurationDelegate"
                         delegateDescription="Launches a Euphoria application"
                         delegateName="Euphoria Application"
                         id="com.eutools.eueditor.launch.BindLaunchConfigurationType"
                         modes="run"
                         name="Euphoria Application"
                         public="true">
                   </launchConfigurationType>
                </extension>
                <extension
                      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
                   <launchConfigurationTypeImage
                         configTypeID="com.eutools.eueditor.launch.BindLaunchConfigurationType"
                         icon="icons/euphoria.ico"
                         id="com.eutools.eueditor.EuIcon">
                   </launchConfigurationTypeImage>
                </extension>
                <extension
                      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
                   <launchConfigurationTabGroup
                         class="com.eutools.eueditor.launch.EuBindLaunchConfigurationTabGroup"
                         description="Common Config for Binding"
                         id="com.eutools.eueditor.launch.BindTabGroup"
                         type="com.eutools.eueditor.launch.BindLaunchConfigurationType">
                   </launchConfigurationTabGroup>
                </extension>
                <extension
                      point="org.eclipse.debug.ui.launchShortcuts">
                   <shortcut
                         category="org.eclipse.ui.externaltools"
                         class="com.eutools.eueditor.launch.EuLaunchShortcut"
                         description="Euphoria Binder"
                         icon="icons/euphoria.ico"
                         id="com.eutools.eueditor.launchShortcut"
                         label="bind"
                         modes="run">
                      <configurationType
                            id="com.eutools.eueditor.launch.BindLaunchConfigurationType">
                      </configurationType>
                      <perspective
                            id="com.eutools.eueditor.EuphoriaPerspective">
                      </perspective>
                      <contextualLaunch>
                         <contextLabel
                               label="Euphoria Console Application"
                               mode="run">
                         </contextLabel>
                         <enablement>
                            <adapt
                                  type="org.eclipse.debug.ui.actions.ILaunchable">
                            </adapt>
                         </enablement>
                      </contextualLaunch>
                   </shortcut>
                </extension>
                <extension
                      point="org.eclipse.core.runtime.adapters">
                   <factory
                         adaptableType="com.eutools.eueditor.editors.EUEditor"
                         class="org.eclipse.core.runtime.IAdapterFactory">
                      <adapter
                            type="org.eclipse.debug.ui.actions.ILaunchable">
                      </adapter>
                   </factory>
                </extension>
                <extension
                      point="org.eclipse.ui.perspectiveExtensions">
                   <perspectiveExtension
                         targetID="com.eutools.eueditor.EuphoriaPerspective">
                      <actionSet
                            id="org.eclipse.debug.ui.launchActionSet">
                      </actionSet>
                   </perspectiveExtension>
                </extension>

</plugin>
